a {   text-decoration: none;   color: #536942; 
} .main {   margin-top: 86px;   margin-bottom: 2rem; 
} 
.activeHeader::after { 
  content: "";   display: inline-block;   position: relative;   top: 3px;   left: 10px;   height: 10px;   width: 10px;   border: 5px solid #fff;   border-top: 5px solid #000; 
} 
.activeHeader.reverse::after {   top: -3px;   border: 5px solid #fff;   border-bottom: 5px solid #000; 
} .text-red {   color: red; } 
.navbar-nav li{   margin-left: 4rem; 
} ng-quill-editor .ql-container {   height: 250px; 
} ng-quill-editor.ng-invalid .ql-container {   border: 1px dashed red; 
} 
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="14"]::before {   content: "14"; 
} 
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="16"]::before {   content: "16"; 
} 
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="18"]::before {   content: "18"; 
} 
 
.off{ text-decoration: line-through; 
} 
